:root {
    --purple: #5821d6;
    --activate: #6433d6;
    --shadow: #0f0f0f;
    --stroke: #6836da;
}

* {
    padding: 0;
    margin: 0%;
}

body,
textarea,
main {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(85, 51, 165), rgb(39, 39, 134));
    background-repeat: no-repeat;
    background-size: cover;
}



.navbar-container {
    width: 100%;
    background-color: #0f0f0f;
    height: 80px;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    height: auto;
    margin-top: 15px;
}

nav {
    position: relative;
}

.navbar-items {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    line-height: 80px;
    margin-right: 47%;
    list-style: none;
}

.navbar-items li {
    display: inline-block;
    text-transform: initial;
    margin-left: 15px;
}

.navbar-items li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.navbar-items li a:hover {
    color: #d3d3d3;
}

.navbar-lv {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    line-height: 80px;
    color: #fff;
}


.navbar-container2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    height: 23px;
    top: 50%;
    padding: 0 3em;
    position: relative;
    box-sizing: border-box;
}


.navbar-items2 {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 80px;
    list-style: none;
    margin-right: 37%;
}

.navbar-items2 li {
    display: inline-block;
    text-transform: initial;
    margin-left: 15px;
}

.navbar-items2 li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.navbar-items2 li a:hover {
    color: #d3d3d3;
}

.navbar-items2 li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.default-btn {
    padding: 15px 20px;
    background-color: var(--purple);
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.096);
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.default-btn:hover {
    background-color: var(--activate);
}

.logo {
    width: 60px;
    margin-top: 10px;
    background-color: var(--purple);
    border-radius: 10px;
}

.logo:hover {
    background-color: var(--activate);
}